@import '../helpers/_variables.scss';
@import '../helpers/_mixins.scss';


.alert{
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: $form-bg;
  height: 28em;
  max-width: 280px;
  padding-left: 3.5em;
  padding-right: 3.5em;
  bottom: 20em;

  @include mq(tablet){
    padding-left: 4.5em;
    padding-right: 4.5em;
    bottom: 10em;
    height: 36em;
    max-width: 500px;
  }

  @include mq(desktop){
    padding-left: 17.2em;
    padding-right: 17.2em;
    height: 32em;
    max-width: 1200px;
    bottom: 12em;
  }

  img{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  p{
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-top: 10px;

    @include mq(tablet){
      font-size: 16px;
    }
  }
}

.show{
  display: flex;
}

html{
  font-family: $font-stack;
}

header{
  background: #111;
  color: $font-color;
}

h1{
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;

  @include mq(tablet){
    font-size: 16px;
    max-width: 600px;
  }

  @include mq(desktop){
    font-size: 20px;
    max-width: 1200px;
  }
}



h2{
  font-size: 12px;
  padding-top: 2em;
  padding-bottom: 10px;

  @include mq(tablet){
    font-size: 16px;
  }
}

form{
  display: flex;
  opacity: 1;
  flex-direction: column;
  max-width: 300px;
  background-color: $form-bg;
  padding: 2em;
  position: relative;
  float: left;
  margin-bottom: 20px;
  margin-right: 9px;

  @include mq(tablet){
    max-width: 600px;
  }

  @include mq(desktop){
    max-width: 750px;
  }
}

.formInput{
  font-size: 12px;
  margin-bottom: 1em;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mq(tablet){
    font-size: 16px;
  }

  input{
    float:left;
  }
}

section{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet){
    flex-direction: row;
    max-width: 600px;
  }

  @include mq(desktop){
    max-width: 1200px;
  }
}

input{
  //display: block;
  width: 100%;
  background-color: #e0e0e0;
  border: 2px solid $input-bg;
  padding: .5em;
  border-radius: .25em;
  font-size: 12px;

  @include mq(tablet){
    font-size: 16px;
  }

  @include mq(desktop){
    font-size: 18px;
    max-width: calc(50% - 2em);
  }
}

.title{
  display: block;
  width: 100%
}

.info{
  @include mq(desktop){
    font-size: 14px;
    width: 50%;
    text-align: left;
  }
}

label{
  margin-bottom: .25em;

}

button{
  display: block;
  border: none;
  padding: 1em;
  width: 100%;
  background-color: $button-color;
  border-radius: .25em;
  color: #fff;

  @include mq(tablet){
    font-size: 16px;
  }
}

select{
  @extend input;

  background: url(../images/down-chevron.svg) no-repeat right #e0e0e0;
  appearance: none;
}

.directory{
  display: block;
  max-width: 100%;
  margin-bottom: 2em;

  @include mq(tablet){
    //margin-left: 20px;
  }
}

.dirInfo{
  background-color: $button-color;
  color: white;
  padding: 20px;
  width: 290px;

  @include mq(tablet){
    width: 250px;
  }
}

.contactInfo{
  margin-top: 10px;
  vertical-align: middle;
}

.error{
  color:red;
}